












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.main-main__section7-p:hover
{
    color: #e0218e;
}
.footer
{
    width: 360px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer__section1
{
    background-color: #fbf5ed;
}
.footer__section1-titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__section1-titulo img
{
    width: 191px;
    padding-top: 35px;
}
.footer__section1-container-iconos
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__section1-iconos
{
    width: 30px;
    padding-right: 20px;
    margin-top: -12px;
}
.footer__section1-iconos:hover
{
    stroke: #e0218e;
}
.footer__section1-subtitulo
{
    text-align: center;
    font-size: 150%;
    margin-top: -7px;
}
.footer__section1-p
{
    color: rgb(75, 74, 74);
    text-align: center;
    line-height: 160%;
}
.footer__section1-formulario
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer__section1-formulario--input
{
    height: 40px;
    width: 150px;
}
.footer__section1-formulario--button
{
    height: 46px;
    width: 150px;
    border: none;
    background-color: #01adb9;
    color: white;
    font-weight: bolder;
    font-size: 80%;
}
.footer__section1-formulario--button:hover
{
    background-color: #e0218e;
}
.footer__section1-privacidad
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.footer__section1-final
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 90%;
    font-weight: 500;
    margin: 30px;
}
.footer__section1-final--texto
{
    padding: 9px 0px;
    color: black;
}
.footer__section1-final--texto:hover
{
    color: #e0218e;
}
.footer__section1-final--p
{
    color: rgb(63, 61, 61);
    font-size: 90%;
    padding: 20px 10px;
    margin-top: -50px;
}
.footer__section1-final--p a
{
    color: rgb(63, 61, 61);
    text-decoration: underline;
}
.footer__section1-final--p a:hover
{
    color: #e0218e;
}
.footer__section2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 40px 0px;
}
.footer__section2-logo
{
    width: 40px;
    padding-bottom: 0px;
}
.footer__section2-logo:hover
{
    width: 45px;
}
.footer__section2-titulo
{
    font-size: 100%;
    margin-top: 7px;
    color: var(--color3);
}
.footer__section2-titulo:hover
{
    --color3: rgb(94, 94, 94);
}
.footer__section2-p1
{
    margin-top: 10px;
}
.footer__section2-p1s
{
    border-right: gray 1px solid;
    padding: 0px 10px;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}
.footer__section2-p1s:hover
{
    color: #e0218e;
}
.footer__section2-p1ss
{
    padding: 0px 10px;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}
.footer__section2-p1ss:hover
{
    color: #e0218e;
}
.footer__section2-subtitulo
{
    font-size: 97%;
    margin-top: 30px;
}
.footer__section2-p2s
{
    margin-top: -10px;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}
.footer__section2-p2s:hover
{
    color: #e0218e;
}
.sello:hover
{
    filter:opacity(0.7);
}